@model MYmvcCore.Controllers.E

<form method="post">
    <input type="text" asp-for="username" />
    <input type="password" asp-for="pwd" />
    <input type="submit" value="login"/>

</form>
@ViewData["v"]